.fab {
    font-size: 36px; /* Adjust the size as needed */
    margin-left: 10px; /* Spacing between the icons */
    vertical-align: middle; /* Align icons vertically */
}

.fa-github {
    color: black;
}